.container {
    width: 95%;
    height:298px;
    border: 1px solid black; /* Add border to the container */
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 5px;
     /* Add border to table cells */
}

td input,textarea
{
    width:80%;
}

td:nth-child(odd) {
    background-color: #f2f2f2; /* Alternate row background color */
}


.button-container {
    margin-top: 29px; 
    margin-left:70px;/* Add some space between the table and buttons */
}

button {
    margin: 0 5px; /* Add some space between buttons */
}
