.container {
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}
.details-item {
    margin-bottom: 15px;
}
.details-item label {
    font-weight: bold;
}
.btn-back {
    background-color:green;
    display: block;
    width: 100px;
    margin: 20px auto;
}