<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Jobseeker Register Form</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Jobseeker_register_form.css') }}">
</head>
<body>
<h2>Jobseeker Register Form</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
{% endwith %}
<form action="{{ url_for('PIA_jobseeker_register') }}" method="post" id="registerForm" onsubmit="return validateForm()">

    <input type="text" id="refer" name="refer" value="PIA" readonly><br><br>

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Email ID:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <label for="confirmPassword">Confirm Password:</label><br>
    <input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
    
    <input type="submit" value="Register">
</form>

<script>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    alert("{{ message }}");
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
</script>

</body>
</html>
